!!!
html( data-ng-app='angular-client-side-auth')
  head

    meta(charset='utf8')
    base(href='/')


    title BRM

    link(rel='stylesheet', href='css/bootstrap-combined.min.css')
    link(rel='stylesheet', type='text/css', href='css/layout-default-latest.css')
    link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/angular-ui.css')

    //link(rel='stylesheet', type='text/css', href='css/navigator.css')
    ////link(rel='stylesheet', href='css/bootstrap-modal.css')
    link(rel='stylesheet', type='text/css', href='css/ng-grid.css')
     //link(rel='stylesheet', type='text/css', href='css/app.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/select2.css')
    ////link(rel='stylesheet', type='text/css', href='css/layout-default-latest.css')
    ////link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/ui-multicombo.css')
    link(rel='stylesheet', type='text/css', href='css/appWiz.css')
    link(rel='stylesheet', type='text/css', href='css/font-awesome.css')

    link(rel='stylesheet', href='css/appbase.css')
    //link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
    //link(href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css", rel="stylesheet")
    link(rel='stylesheet', href='css/angular-table.css')


    script
      document.write("<base href=\"" + document.location + "\" />")
  body
    block body

