!!!
html(ng-app="myApp")
  head

    meta(charset='utf8')
    base(href='/')


    title BRM

    link(rel='stylesheet', href='css/bootstrap-combined.min.css')
    link(rel='stylesheet', type='text/css', href='css/layout-default-latest.css')
    link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/angular-ui.css')

    link(rel='stylesheet', type='text/css', href='css/navigator.css')
    ////link(rel='stylesheet', href='css/bootstrap-modal.css')
    link(rel='stylesheet', type='text/css', href='css/ng-grid.css')
     //link(rel='stylesheet', type='text/css', href='css/app.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/select2.css')
    ////link(rel='stylesheet', type='text/css', href='css/layout-default-latest.css')
    ////link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/ui-multicombo.css')
    link(rel='stylesheet', type='text/css', href='css/appWiz.css')
     // link(rel='stylesheet', type='text/css', href='css/boolean.css')
     // link(rel='stylesheet', type='text/css', href='css/calendardemo.css')
     // link(rel='stylesheet', type='text/css', href='css/appAngelo.css')
    script
      document.write("<base href=\"" + document.location + "\" />")
  body
    block body

